<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hello World test!!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    {# TIPS:DjangoMessageFrameworkは表示した時に、消える。 #}
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}


    <form action="" method="POST">
        {# POSTメソッドを実行する時、CSRFトークンのDTLをformタグ内に記述しておく。 #}
        {% csrf_token %}
        <input type="text" name="name" placeholder="校舎名">
        <textarea name="description" placeholder="備考"></textarea>
        <input type="submit" value="送信">
    </form>

    {% for building in buildings %}
    <div class="border">
        <div>{{ building.dt }}</div>
        <div>{{ building.id }}:{{ building.name }}</div>
        <div>{{ building.description|default:"" }}</div>

        <div>{{ building.count_students }}</div>
    </div>
    {% endfor %}

</body>
</html>

